.bg-color {
  background-image: url("../../../assets/background-image2.jpg");
  background-size: cover;
}
img {
  width: 40vw;
  margin: 3%;
  margin-left: 5%;
  z-index: 1;
}

h1 {
  z-index: 1;
  text-align: center;
  color: white;
  padding-top: 1%;
  font-weight: bold;
}

#cardforheader {
  z-index: 1;
  color: white;
  padding-top: 5%;
  margin: 3%;
  border: none;
  background-color: transparent;
  padding-left: 20%;
}
#card-for-image {
  background-color: transparent;
  border: none;
}

span {
  font-weight: bold;
  z-index: 1;
}
hr {
  display: none;
}

.overlay {
  width: 100%;
  height: 178.6%;
  z-index: 0;
  position: absolute;

  background-color: #00000080;
}

@media screen and (max-width: 720px) {
  img {
    height: 250px;
    margin: 5%;
  }
  #cardforheader {
    padding-top: 1%;
    /* align-items: center; */
    text-align: center;
    padding-bottom: 15%;
  }
  h1 {
    padding-top: 8%;
  }
}
