<div class="hotel-description-flex">
  <div class="header baloo">
    <div>
      <h1>Welcome to Malvan</h1>
      <p>
        Lorem ipsum is a name for a common type of placeholder text. Also known
        as filler or dummy text, this is simply copy that serves to fill a space
        without actually saying anything meaningful. It's essentially nonsense
        text, but gives an idea of what real text will look like in the final
        product
      </p>
    </div>
    <img src="https://i.ibb.co/7p0QRHb/Rock-Beach.jpg" alt="" />
  </div>
</div>
