<app-overlay></app-overlay>
<div class="hotel-description-flex">
  <div class="header baloo">
    <div>
      <h1>Welcome to Malvan</h1>
      <p>
        Malvan is a town and taluka in Sindhudurg District, the southernmost
        district of Maharashtra State, India, well known for the historically
        important Sindhudurg Fort. Malvan taluka consists of villages such as
        Angane Wadi (Village: Masure), Achra, Khalchi Devli, Jamdul, Juva,
        Pankhol, Talasheel and Sarjekot. The main occupation here is fishing
        with the staple diet of the local people fish curry and rice. The town
        produces Alphonso mangoes and is also known for sweets such as Malvani
        Khaja made from gram-besan flour and coated jaggery as well as Malvani
        Ladoos
      </p>
    </div>
    <img src="https://i.ibb.co/7p0QRHb/Rock-Beach.jpg" alt="" />
  </div>
</div>
