<app-overlay></app-overlay>
<div class="clr baloo">
  <h1>ABOUT US</h1>
  <div class="row">
    <div class="col-lg-6">
      <img src="../../../assets/pandu.jpg" alt="" />
    </div>
    <div class="col-lg-6">
      <p>
        Lorem Ipsum is simply dummy te xt of the printing and typesetting
        industry. Lorem Ipsum has been t he industry's standard dummy text ver
        since the 1500s, when an unkn own printer took a galley of type an d
        scrambled it to make a type specim en book. It has survived not only fiv
        e centuries, but also the leap into elec tronic typesetting, remaining
        essent ially unchanged. It was popularised I n the 1960s with the
        release of Letra et sheets containing Lorem Ipsum pas sag
      </p>
    </div>
  </div>
</div>
